x64/
Debug/
Release/
.vs/
/cv_cer_project.sln
/cv_cer_project.sdf
/CV_cer_project.vcxproj.filters
/CV_cer_project.vcxproj
/CV_cer_project.sln
/CV_cer_project.VC.db
/CV_cer_project.vcxproj.user
/cv_cer_project.v12.suo
/_data/calibration_output.xml